.nav-item{
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-style: normal;
    color: #000000; 
}
h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 280%;
    font-style: normal;
    color: #000000; 
}
h3{
    font-family: "Bebas Neue", sans-serif;
    font-size: 200%;
    font-style: normal;
    color: #000000; 
}